@page "/"

<PageTitle>Dadforum</PageTitle>

<h1>Velkommen til Dadforum, håber du nyder dit ophold</h1>

<p>Her kan du læse de sidste nye råd, jokes og fortrukne øl for den gennemsnitlige far</p>

<PostList></PostList>