@inherits LayoutComponentBase

@using Dadforum_blazor.Data;
@using shared.Model;
@inject ApiService apiService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
        </tr>
        @foreach (var post in posts)
        {
            <tr>
                <td>@post.NameOfAuthor</td>
                <td><a href="/api/posts/@post.PostID">@post.PostString</a></td>
                <td>@post.Upvotes</td>
                <td>@post.Downvotes</td>
                <td><button @onclick="() => Upvote(post.PostID)"> Upvote</button></td>
                <td><button @onclick="() => Downvote(post.PostID)"> Downvote</button></td>
            </tr>
        }
    </table>

    <br/>
}

@code {
    private Post[]? posts;
    private Post? votePost;

    protected override async Task OnInitializedAsync()
    {
        posts = await apiService.GetPosts();
    }

    private async void Upvote(int id)
    {
        var upvotePost = await apiService.UpvotePost(id);
    }

    private async void Downvote(int id)
    {
        var downvotePost = await apiService.DownvotePost(id);
    }
}
